@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#header{
    text-align: center;
}
#header h1{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-top:10px;
    padding-bottom:20px;
}
.container{
    background-color: #f0fcff;
    width: 70vw;
    height:60vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 75, 92, 0.5);
  
}