<!-- This is the main template that is displayed when user logs onto the webpage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Recommendation System - Ainesh Sootha</title>
</head>
<body>


    <div id="header">
        <h1>Recommendation Engine</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm center-block text-center">
                <br><h3 class="mt-5">What Recommendation do you want?</h3>
                <form class="mt-5" action = "/result" method="post">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary bookmovie">
                            <input type="radio" name="options" id="book" value="book" autocomplete="off" checked required> Book
                        </label>
                        <label class="btn btn-secondary bookmovie">
                            <input type="radio" name="options" id="movie" value="movie" autocomplete="off"> Movie
                        </label>

                    </div>
                    <div class="form-group mt-5">
                        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title" required>
                    </div>
                    <div class="form-group mt-5">
                        <div id='optionsbook' class='selectorBM'>
                            <h4>What did you like about this book</h4>
                            <label class="btn btn-secondary bookmovie">
                                <input type="radio" name="bmselect" id="book" value="genre" autocomplete="off" required>The Genres
                            </label>
                            <label class="btn btn-secondary bookmovie">
                                <input type="radio" name="bmselect" id="books" value="author" autocomplete="off" required>The Writing Style
                            </label>
                        </div>
                        <div id='optionsmovie' class='selectorBM'  style="display:none;">
                            <h4>What did you like about this movie</h4>
                            <label class="btn btn-secondary bookmovie">
                                <input type="radio" name="bmselect" id="movie" value="genre" autocomplete="off" required>The Genres
                            </label>
                            <label class="btn btn-secondary bookmovie">
                                <input type="radio" name="bmselect" id="movie" value="cast" autocomplete="off" required>The Cast/Acting
                            </label>
                            <label class="btn btn-secondary bookmovie">
                                <input type="radio" name="bmselect" id="movie" value="collection" autocomplete="off" required>The collection/series (eg:Toy Story)
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="mainsubmit" placeholder="Submit">
                </form>

            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <footer class="footer mt-auto py-3 text-center">
        <h4>Made with &#10084; by Ainesh Sootha</h4>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("input[name$='options']").click(function() {
                var test = $(this).val();

                $("div.selectorBM").hide();
                $("#options" + test).show();
                $("input[name='bmselect']").prop('checked',false);
            });
        });
    </script>
</body>
</html>